#nav {
  height: 38px;
  font-size: 12px;
  font-weight: bold;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  border-bottom: 1px solid #cacaca;
}
#nav h1 {
  width: 90px;
  height: 90px;
  background-image: url(/img/blacktocat-90.png);
  color: transparent;
  position: absolute;
  top: -53px;
  left: 50%;
  margin-left: -45px;
  z-index: 2;
}
#nav a {
  width: 50%;
  height: 36px;
  line-height: 36px;
  display: block;
  float: left;
  color: #777;
  text-shadow: 0 1px 0 #ffffff;
  border-bottom: 2px solid #d1d1d1;
}
#nav a:active {
  color: #4e70ae;
  background-color: #d9e0e9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafd), to(#d9e0e9));
  border-bottom-color: #cad4e1;
}
#nav a:hover {
  text-decoration: none;
}
#nav a.selected {
  border-bottom-color: #b45a1f;
  color: #000;
}
#nav a span {
  padding-left: 20px;
}
#nav a:last-child {
  text-align: right;
}
#nav a:last-child span {
  padding: 0 20px 0 0;
}
