body {
  margin: 0;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}
body a {
  color: #4183c4;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
#nav {
  height: 38px;
  font-size: 12px;
  font-weight: bold;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  border-bottom: 1px solid #cacaca;
}
#nav a {
  height: 36px;
  line-height: 36px;
  display: block;
  float: left;
  border: 1px solid;
  border-top: none;
  border-bottom: 2px solid #d1d1d1;
  border-right-color: #e5e5e5;
  border-left-color: #f7f7f7;
  padding: 0 30px;
  color: #777;
  text-shadow: 0 1px 0 #ffffff;
}
#nav a:first-child {
  border-left: 0;
}
#nav a:active {
  color: #4e70ae;
  background-color: #d9e0e9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafd), to(#d9e0e9));
  border-bottom-color: #cad4e1;
}
#nav a:hover {
  text-decoration: none;
}
#nav a.selected {
  border-bottom-color: #b45a1f;
  color: #000;
}
ul.stream {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.stream > li {
  border-bottom: 1px solid #ccc;
  padding: 9px 13px;
}
ul.stream > li .title {
  display: block;
  font-weight: bold;
  padding: 0 0 .25em 0;
}
ul.stream > li .title > span {
  background: #fff6a9;
}
ul.stream > li .gravatar {
  border: 1px solid #d0d0d0;
  padding: 2px;
  background: #fff;
  float: left;
  line-height: 0;
  margin-right: .7em;
}
ul.stream > li .gravatar img {
  height: 30px;
  width: 30px;
}
ul.stream > li .message {
  padding-left: 45px;
  display: block;
}
ul.stream > li .message ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.scrollview {
  position: absolute;
  z-index: 1;
  top: 39px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
