body {
  margin: 0;
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}
body a {
  color: #4183c4;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
.page.loading {
  background: transparent url(/img/loader.gif) no-repeat center 50px;
  height: 90px;
}
#content {
  position: absolute;
  z-index: 1;
  top: 39px;
  left: 0;
  width: 100%;
}
.page {
  background: #fff;
}
#content, .page {
  min-height: 100%;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
