body {
	margin: 0;
	font: 13.34px helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
}

a {
	color: #4183c4;
	text-decoration: none;
}

#viewport {
	position: relative;
	overflow: visible;
}

.ui-content {
	padding: 0;
}

#header {
	height: 38px;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(221, 221, 221);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgb(221, 221, 221)));
	border-bottom: 1px solid #cacaca;
}

	#header a {
		height: 36px;
		line-height: 36px;
		display: block;
		float: left;
		border-bottom: 2px solid rgb(209, 209, 209);
		border-right: 1px solid rgb(229, 229, 229);
		border-left: 1px solid rgb(247, 247, 247);
		padding: 0 30px;
	}

	#header a:first-child {
		border-left: 0;
	}

ul.stream {
	list-style: none;
	padding: 0;
	margin: 0;
}

	ul.stream > li {
		border-bottom: 1px solid #ccc;
		padding: 9px 13px;
	}

		ul.stream > li .title {
			display: block;
			font-weight: bold;
			padding: 0 0 .25em 0;
		}

			ul.stream > li .title > span {
				background: #fff6a9;
			}

		ul.stream > li .gravatar {
			border: 1px solid #d0d0d0;
			padding: 2px;
			background: #fff;
			float: left;
			line-height: 0;
			margin-right: .7em;
		}

			ul.stream > li .gravatar img {
				height: 30px;
				width: 30px;
			}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}