#nav {
	height: 38px;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(221, 221, 221);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgb(221, 221, 221)));
	border-bottom: 1px solid #cacaca;

	a {
		height: 36px;
		line-height: 36px;
		display: block;
		float: left;
		border: 1px solid;
		border-top: none;
		border-bottom: 2px solid rgb(209, 209, 209);
		border-right-color: rgb(229, 229, 229);
		border-left-color: rgb(247, 247, 247);
		padding: 0 30px;
		color: #777;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);

		&:first-child {
			border-left: 0;
		}

		&:active {
			color: rgb(78, 112, 174);
			background-color: rgb(217, 224, 233);
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(248, 250, 253)), to(rgb(217, 224, 233)));
			border-bottom-color: rgb(202, 212, 225);
		}

		&:hover {
			text-decoration: none;
		}

		&.selected {
			border-bottom-color: rgb(180, 90, 31);
			color: #000;
		}
	}
}