body {
	margin: 0;
	font: 13.34px helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;

	a {
		color: #4183c4;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.ui-mobile .ui-page {
	position: absolute;
	z-index: 1;
	top: 39px;
	bottom: 0;
	left: 0;
	width: 100%;

	.ui-content {
		padding: 0;
	}
}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}